.tile {
  display: inline-flex;
  background-color: #42b842;
  color: #42b842; /* hides the dot for the map glitch */
}

.rock {
  background-image: url('/tiles/rock.png')
}

.dragon-egg {
  background-image: url('/tiles/dragon-egg.png');
  background-size: 20px;
  background-repeat: no-repeat;
}

.tree {
  background-image: url('/tiles/tree.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}
