.tile {
  display: inline-flex;
}

.map_background {
  background-image: url('/tiles/grass.png');
  background-size: 40px;
}

.muxworthys {
  background-image: url('/tiles/muxworthys.png');
  background-repeat: no-repeat;
  background-size: 40px;
}

.dirt {
  background-image: url('/tiles/dirt.png');
  background-size: 20px;
  border-radius: 40px;
  color: brown;
}

.grass {
  background-image: url('/tiles/grass.png');
  background-size: 40px;
  color: inherit;
}

.rock {
  background-image: url('/tiles/rock.png');

}

.dragon-egg {
  background-image: url('/tiles/dragon-egg.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.tree {
  background-image: url('/tiles/tree.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}

.axe {
  background-position: center;
  background-image: url('/tiles/axe.png');
  background-size: 30px;
  background-repeat: no-repeat;
}

.player {
  background-position: center;
  background-image: url('/tiles/player.png');
  background-size: 20px;
  background-repeat: no-repeat;
}

.spade {
  background-position: center;
  background-image: url('/tiles/spade.png');
  background-size: 30px;
  background-repeat: no-repeat;
}

.ruby {
  background-position: center;
  background-image: url('/tiles/ruby.png');
  background-size: 30px;
  background-repeat: no-repeat;
}
